body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow:1;
}

.footer {
  background-color: #E1C16E;
  height: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .footer {
    height: 100px;
    width: 100%;
  }
}